@media (max-width: 768px) {
    /*здесь скрывается лаптоп интерфейс */
    .laptop-nav ul:not(:first-child) {
        display: none;
    }
    header .mobile-nav-icon {
        float: right;
        display: block;
    }
    header .mobile-nav-icon {
        display: inline;
    }


}


header {
    display: flex;
    flex-direction: row;
}

.laptop-nav {
    background-color: var(--bg-color);
    width: 100%;
    position: fixed;
    padding: 10px;
    font-size: large;
    height: 24px;
    z-index: 10;
}

header a {
    text-decoration: none;
    color: var(--font-color);
}

header .logo > a{
    color: #ff0000;
}

.laptop-nav ul {
    list-style-type: none;
    display: inline;
}



.mobile-nav-icon {
    margin: auto;
    float: right;
    margin-right: 40px;
    display: none;
    background-color: transparent;
    color: white;
    border: none;
    z-index: 10;
}

.mobile-nav {
    position: fixed;
    background-color: var(--bg-color);
    width: 100%;
    height: 210px;
    top: -100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    transition: top 0.3s ease-in-out;
}

.mobile-nav ul {
    padding: 0 25px;
    margin: 10px 0;
}

.mobile-nav ul:last-child {
    margin-bottom: 0 !important;
}










