body {
    font-family: 'Nunito', sans-serif;
    color: var(--font-color);
}


::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 5px; /* высота для горизонтального скролла */
    background-color: #57636d;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #e3faf9;
    border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c3efef;
}