body {
    font-family: 'Nunito', sans-serif;
    color: var(--font-color);
}

::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 5px; /* высота для горизонтального скролла */
    background-color: #545454;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #cacaca;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d6d6d6;
}